In [43]:
###Importing dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [44]:
import numpy as np
import pandas as pd

In [45]:
import datetime as dt

In [46]:
###Reflect Tables into SQLAlchemy ORM

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [48]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///Resources/hawaii.sqlite")

In [49]:
# reflect an existing database into a new model
Base=automap_base()
# reflect the table
Base.prepare(engine, reflect=True)

In [50]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [51]:
# Save references to each table
Station=Base.classes.station
Measurement=Base.classes.measurement

In [52]:
# Create our session (link) from Python to the DB
session=Session(engine)

In [56]:
stations = engine.execute("SELECT * FROM Station")
print(stations.keys())
for record in stations:
    print(record)

RMKeyView(['id', 'station', 'name', 'latitude', 'longitude', 'elevation'])
(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9)
(8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)

In [57]:
columns=inspector.get_columns('Station')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [58]:
measurements = engine.execute("SELECT * FROM Measurement LIMIT 10")
print(measurements.keys())
for record in measurements:
    print(record)

RMKeyView(['id', 'station', 'date', 'prcp', 'tobs'])
(1, 'USC00519397', '2010-01-01', 0.08, 65.0)
(2, 'USC00519397', '2010-01-02', 0.0, 63.0)
(3, 'USC00519397', '2010-01-03', 0.0, 74.0)
(4, 'USC00519397', '2010-01-04', 0.0, 76.0)
(5, 'USC00519397', '2010-01-06', None, 73.0)
(6, 'USC00519397', '2010-01-07', 0.06, 70.0)
(7, 'USC00519397', '2010-01-08', 0.0, 64.0)
(8, 'USC00519397', '2010-01-09', 0.0, 68.0)
(9, 'USC00519397', '2010-01-10', 0.0, 73.0)
(10, 'USC00519397', '2010-01-11', 0.01, 64.0)

In [59]:
columns=inspector.get_columns('Measurement')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [60]:
###Exploratory Climate Analysis

In [61]:
#find max date
max_date = session.query(func.max(func.strftime("%Y-%m-%d", Measurement.date))).limit(5).all()
max_date[0][0]

'2017-08-23'

In [63]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from the last data point in the database
# Perform a query to retrieve the data and precipitation scores
precipitation_data = session.query(func.strftime("%Y-%m-%d", Measurement.date), Measurement.prcp).\
    filter(func.strftime("%Y-%m-%d", Measurement.date) >= dt.date(2016, 8, 23)).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
precipitation_df = pd.DataFrame(precipitation_data, columns = ['date', 'precipitation'])

#set index
precipitation_df.set_index('date', inplace = True)

In [64]:
# Sort the dataframe by date
precipitation_df = precipitation_df.sort_values(by='date')
precipitation_df.head()

            precipitation
date
2016-08-23           0.00
2016-08-23            NaN
2016-08-23           1.79
2016-08-23           0.05
2016-08-23           0.15

In [65]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precipitation_df.describe()

       precipitation
count    2021.000000
mean        0.177279
std         0.461190
min         0.000000
25%         0.000000
50%         0.020000
75%         0.130000
max         6.700000

In [67]:
# Design a query to show how many stations are available in this dataset?
stations = session.query(Station.id).count()
stations

9

In [76]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
active_station_counts = (session.query(Measurement.station, func.count(Measurement.station))
                         .group_by(Measurement.station)
                         .order_by(func.count(Measurement.station).desc())
                         .all())
active_station_counts

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [87]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
# Which station has the highest number of observations?
highest_num = 'USC00519281'
temp_data = (session.query(func.max(Measurement.tobs),func.min(Measurement.tobs),func.avg(Measurement.tobs),func.count(Measurement.tobs))
            .filter(Measurement.station == highest_num).all())
temp_data

[(85.0, 54.0, 71.66378066378067, 2772)]

In [91]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
temperature_observation = session.query(Measurement.date,Measurement.tobs)\
                         .filter(Measurement.station == highest_num)\
                         .filter(func.strftime("%Y-%m-%d", Measurement.date) >= dt.date(2016, 8, 23)).all()
temperature_observation

[('2016-08-23', 77.0),
 ('2016-08-24', 77.0),
 ('2016-08-25', 80.0),
 ('2016-08-26', 80.0),
 ('2016-08-27', 75.0),
 ('2016-08-28', 73.0),
 ('2016-08-29', 78.0),
 ('2016-08-30', 77.0),
 ('2016-08-31', 78.0),
 ('2016-09-01', 80.0),
 ('2016-09-02', 80.0),
 ('2016-09-03', 78.0),
 ('2016-09-04', 78.0),
 ('2016-09-05', 78.0),
 ('2016-09-06', 73.0),
 ('2016-09-07', 74.0),
 ('2016-09-08', 80.0),
 ('2016-09-09', 79.0),
 ('2016-09-10', 77.0),
 ('2016-09-11', 80.0),
 ('2016-09-12', 76.0),
 ('2016-09-13', 79.0),
 ('2016-09-14', 75.0),
 ('2016-09-15', 79.0),
 ('2016-09-16', 78.0),
 ('2016-09-17', 79.0),
 ('2016-09-18', 78.0),
 ('2016-09-19', 78.0),
 ('2016-09-20', 76.0),
 ('2016-09-21', 74.0),
 ('2016-09-22', 77.0),
 ('2016-09-23', 78.0),
 ('2016-09-24', 79.0),
 ('2016-09-25', 79.0),
 ('2016-09-26', 77.0),
 ('2016-09-27', 80.0),
 ('2016-09-28', 78.0),
 ('2016-09-29', 78.0),
 ('2016-09-30', 78.0),
 ('2016-10-01', 77.0),
 ('2016-10-02', 79.0),
 ('2016-10-03', 79.0),
 ('2016-10-04', 79.0),
 ('2016-10-05', 79.0),
 ('2016-10-06', 75.0),
 ('2016-10-07', 76.0),
 ('2016-10-08', 73.0),
 ('2016-10-09', 72.0),
 ('2016-10-10', 71.0),
 ('2016-10-11', 77.0),
 ('2016-10-12', 79.0),
 ('2016-10-13', 78.0),
 ('2016-10-14', 79.0),
 ('2016-10-15', 77.0),
 ('2016-10-16', 79.0),
 ('2016-10-17', 77.0),
 ('2016-10-18', 78.0),
 ('2016-10-19', 78.0),
 ('2016-10-20', 78.0),
 ('2016-10-21', 78.0),
 ('2016-10-22', 77.0),
 ('2016-10-23', 74.0),
 ('2016-10-24', 75.0),
 ('2016-10-25', 76.0),
 ('2016-10-26', 73.0),
 ('2016-10-27', 76.0),
 ('2016-10-28', 74.0),
 ('2016-10-29', 77.0),
 ('2016-10-30', 76.0),
 ('2016-10-31', 76.0),
 ('2016-11-01', 74.0),
 ('2016-11-02', 75.0),
 ('2016-11-03', 75.0),
 ('2016-11-04', 75.0),
 ('2016-11-05', 75.0),
 ('2016-11-06', 71.0),
 ('2016-11-07', 63.0),
 ('2016-11-08', 70.0),
 ('2016-11-09', 68.0),
 ('2016-11-10', 67.0),
 ('2016-11-11', 77.0),
 ('2016-11-12', 74.0),
 ('2016-11-13', 77.0),
 ('2016-11-14', 76.0),
 ('2016-11-15', 76.0),
 ('2016-11-16', 75.0),
 ('2016-11-17', 76.0),
 ('2016-11-18', 75.0),
 ('2016-11-19', 73.0),
 ('2016-11-20', 75.0),
 ('2016-11-21', 73.0),
 ('2016-11-22', 75.0),
 ('2016-11-23', 74.0),
 ('2016-11-24', 75.0),
 ('2016-11-25', 74.0),
 ('2016-11-26', 75.0),
 ('2016-11-27', 73.0),
 ('2016-11-28', 75.0),
 ('2016-11-29', 73.0),
 ('2016-11-30', 73.0),
 ('2016-12-01', 74.0),
 ('2016-12-02', 70.0),
 ('2016-12-03', 72.0),
 ('2016-12-04', 70.0),
 ('2016-12-05', 67.0),
 ('2016-12-06', 67.0),
 ('2016-12-07', 69.0),
 ('2016-12-08', 70.0),
 ('2016-12-09', 68.0),
 ('2016-12-10', 69.0),
 ('2016-12-11', 69.0),
 ('2016-12-12', 66.0),
 ('2016-12-13', 65.0),
 ('2016-12-14', 68.0),
 ('2016-12-15', 62.0),
 ('2016-12-16', 75.0),
 ('2016-12-17', 70.0),
 ('2016-12-18', 69.0),
 ('2016-12-19', 76.0),
 ('2016-12-20', 76.0),
 ('2016-12-21', 74.0),
 ('2016-12-22', 73.0),
 ('2016-12-23', 71.0),
 ('2016-12-24', 74.0),
 ('2016-12-25', 74.0),
 ('2016-12-26', 72.0),
 ('2016-12-27', 71.0),
 ('2016-12-28', 72.0),
 ('2016-12-29', 74.0),
 ('2016-12-30', 69.0),
 ('2016-12-31', 67.0),
 ('2017-01-01', 72.0),
 ('2017-01-02', 70.0),
 ('2017-01-03', 64.0),
 ('2017-01-04', 63.0),
 ('2017-01-05', 63.0),
 ('2017-01-06', 62.0),
 ('2017-01-07', 70.0),
 ('2017-01-08', 70.0),
 ('2017-01-09', 62.0),
 ('2017-01-10', 62.0),
 ('2017-01-11', 63.0),
 ('2017-01-12', 65.0),
 ('2017-01-13', 69.0),
 ('2017-01-14', 77.0),
 ('2017-01-15', 70.0),
 ('2017-01-16', 74.0),
 ('2017-01-17', 69.0),
 ('2017-01-18', 72.0),
 ('2017-01-19', 71.0),
 ('2017-01-20', 69.0),
 ('2017-01-21', 71.0),
 ('2017-01-22', 71.0),
 ('2017-01-23', 72.0),
 ('2017-01-24', 72.0),
 ('2017-01-25', 69.0),
 ('2017-01-26', 70.0),
 ('2017-01-27', 66.0),
 ('2017-01-28', 65.0),
 ('2017-01-29', 69.0),
 ('2017-01-30', 68.0),
 ('2017-01-31', 68.0),
 ('2017-02-01', 68.0),
 ('2017-02-02', 59.0),
 ('2017-02-03', 60.0),
 ('2017-02-04', 70.0),
 ('2017-02-05', 73.0),
 ('2017-02-06', 75.0),
 ('2017-02-07', 64.0),
 ('2017-02-08', 59.0),
 ('2017-02-09', 59.0),
 ('2017-02-10', 62.0),
 ('2017-02-11', 68.0),
 ('2017-02-12', 70.0),
 ('2017-02-13', 73.0),
 ('2017-02-14', 79.0),
 ('2017-02-15', 75.0),
 ('2017-02-16', 65.0),
 ('2017-02-17', 70.0),
 ('2017-02-18', 74.0),
 ('2017-02-19', 70.0),
 ('2017-02-20', 70.0),
 ('2017-02-21', 71.0),
 ('2017-02-22', 71.0),
 ('2017-02-23', 71.0),
 ('2017-02-24', 69.0),
 ('2017-02-25', 61.0),
 ('2017-02-26', 67.0),
 ('2017-02-27', 65.0),
 ('2017-02-28', 72.0),
 ('2017-03-01', 71.0),
 ('2017-03-02', 73.0),
 ('2017-03-03', 72.0),
 ('2017-03-04', 77.0),
 ('2017-03-05', 73.0),
 ('2017-03-06', 67.0),
 ('2017-03-07', 62.0),
 ('2017-03-08', 64.0),
 ('2017-03-09', 67.0),
 ('2017-03-10', 66.0),
 ('2017-03-11', 81.0),
 ('2017-03-12', 69.0),
 ('2017-03-13', 66.0),
 ('2017-03-14', 67.0),
 ('2017-03-15', 69.0),
 ('2017-03-16', 66.0),
 ('2017-03-17', 68.0),
 ('2017-03-18', 65.0),
 ('2017-03-19', 74.0),
 ('2017-03-20', 69.0),
 ('2017-03-21', 72.0),
 ('2017-03-22', 73.0),
 ('2017-03-23', 72.0),
 ('2017-03-24', 71.0),
 ('2017-03-25', 76.0),
 ('2017-03-26', 77.0),
 ('2017-03-27', 76.0),
 ('2017-03-28', 74.0),
 ('2017-03-29', 68.0),
 ('2017-03-30', 73.0),
 ('2017-03-31', 71.0),
 ('2017-04-01', 74.0),
 ('2017-04-02', 75.0),
 ('2017-04-03', 70.0),
 ('2017-04-04', 67.0),
 ('2017-04-05', 71.0),
 ('2017-04-06', 67.0),
 ('2017-04-07', 74.0),
 ('2017-04-08', 77.0),
 ('2017-04-09', 78.0),
 ('2017-04-10', 67.0),
 ('2017-04-11', 70.0),
 ('2017-04-12', 69.0),
 ('2017-04-13', 69.0),
 ('2017-04-14', 74.0),
 ('2017-04-15', 78.0),
 ('2017-04-16', 71.0),
 ('2017-04-17', 67.0),
 ('2017-04-18', 68.0),
 ('2017-04-19', 67.0),
 ('2017-04-20', 76.0),
 ('2017-04-21', 69.0),
 ('2017-04-22', 72.0),
 ('2017-04-23', 76.0),
 ('2017-04-24', 68.0),
 ('2017-04-25', 72.0),
 ('2017-04-26', 74.0),
 ('2017-04-27', 70.0),
 ('2017-04-28', 67.0),
 ('2017-04-29', 72.0),
 ('2017-04-30', 60.0),
 ('2017-05-01', 65.0),
 ('2017-05-02', 75.0),
 ('2017-05-03', 70.0),
 ('2017-05-04', 75.0),
 ('2017-05-05', 70.0),
 ('2017-05-06', 79.0),
 ('2017-05-07', 75.0),
 ('2017-05-08', 70.0),
 ('2017-05-09', 67.0),
 ('2017-05-10', 74.0),
 ('2017-05-11', 70.0),
 ('2017-05-12', 75.0),
 ('2017-05-13', 76.0),
 ('2017-05-14', 77.0),
 ('2017-05-15', 74.0),
 ('2017-05-16', 74.0),
 ('2017-05-17', 74.0),
 ('2017-05-18', 69.0),
 ('2017-05-19', 68.0),
 ('2017-05-20', 76.0),
 ('2017-05-21', 74.0),
 ('2017-05-22', 71.0),
 ('2017-05-23', 71.0),
 ('2017-05-24', 74.0),
 ('2017-05-25', 74.0),
 ('2017-05-26', 74.0),
 ('2017-05-27', 74.0),
 ('2017-05-28', 80.0),
 ('2017-05-29', 74.0),
 ('2017-05-30', 72.0),
 ('2017-05-31', 75.0),
 ('2017-06-01', 80.0),
 ('2017-06-02', 76.0),
 ('2017-06-03', 76.0),
 ('2017-06-04', 77.0),
 ('2017-06-05', 75.0),
 ('2017-06-06', 75.0),
 ('2017-06-07', 75.0),
 ('2017-06-08', 75.0),
 ('2017-06-09', 72.0),
 ('2017-06-10', 74.0),
 ('2017-06-11', 74.0),
 ('2017-06-12', 74.0),
 ('2017-06-13', 76.0),
 ('2017-06-14', 74.0),
 ('2017-06-15', 75.0),
 ('2017-06-16', 73.0),
 ('2017-06-17', 79.0),
 ('2017-06-18', 75.0),
 ('2017-06-19', 72.0),
 ('2017-06-20', 72.0),
 ('2017-06-21', 74.0),
 ('2017-06-22', 72.0),
 ('2017-06-23', 72.0),
 ('2017-06-24', 77.0),
 ('2017-06-25', 71.0),
 ('2017-06-26', 73.0),
 ('2017-06-27', 76.0),
 ('2017-06-28', 77.0),
 ('2017-06-29', 76.0),
 ('2017-06-30', 76.0),
 ('2017-07-01', 79.0),
 ('2017-07-02', 81.0),
 ('2017-07-03', 76.0),
 ('2017-07-04', 78.0),
 ('2017-07-05', 77.0),
 ('2017-07-06', 74.0),
 ('2017-07-07', 75.0),
 ('2017-07-08', 78.0),
 ('2017-07-09', 78.0),
 ('2017-07-10', 69.0),
 ('2017-07-11', 72.0),
 ('2017-07-12', 74.0),
 ('2017-07-13', 74.0),
 ('2017-07-14', 76.0),
 ('2017-07-15', 80.0),
 ('2017-07-16', 80.0),
 ('2017-07-17', 76.0),
 ('2017-07-18', 76.0),
 ('2017-07-19', 76.0),
 ('2017-07-20', 77.0),
 ('2017-07-21', 77.0),
 ('2017-07-22', 77.0),
 ('2017-07-23', 82.0),
 ('2017-07-24', 75.0),
 ('2017-07-25', 77.0),
 ('2017-07-26', 75.0),
 ('2017-07-27', 76.0),
 ('2017-07-28', 81.0),
 ('2017-07-29', 82.0),
 ('2017-07-30', 81.0),
 ('2017-07-31', 76.0),
 ('2017-08-04', 77.0),
 ('2017-08-05', 82.0),
 ('2017-08-06', 83.0),
 ('2017-08-13', 77.0),
 ('2017-08-14', 77.0),
 ('2017-08-15', 77.0),
 ('2017-08-16', 76.0),
 ('2017-08-17', 76.0),
 ('2017-08-18', 79.0)]